.purpleCarpet {
    background-image: url("resources/PurpleCarpet.png");
}

.cypress {
    background-image: url("resources/Cypress.jpg");
}
.iceplant {
    background-image: url("resources/Iceplant.jpg");
}
.muirWoods {
    background-image: url("resources/MuirWoods2.jpg");
}